[Unit]
Description=WayVNC on Tailscale
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=60
StartLimitBurst=10

[Service]
ExecStart=/usr/bin/wayvnc 100.74.233.121 5900
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
